# Игнорируем виртуальное окружение Python
venv/
.env

# Игнорируем базу данных SQLite
chat.db

# Игнорируем временные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем системные файлы и кэш
.DS_Store
Thumbs.db

# Игнорируем файлы редакторов и IDE
.vscode/
.idea/

# Игнорируем логи
*.log

# Игнорируем зависимости, установленные через pip
*.egg-info/
dist/
build/

# Игнорируем временные файлы и резервные копии
*.bak
*.tmp