<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Восстановление пароля</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <div class="form-box">
            <h2>Восстановить пароль</h2>
            <div id="flash-messages"></div>
            <form id="forgot-password-form">
                <input type="email" name="email" placeholder="Email" required>
                <button type="submit">Отправить</button>
                <p class="link-text">Вернуться к <a href="/signin" class="link">входу</a></p>
            </form>
        </div>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>